// Libs.
    @import 'libs/variables';
    @import 'libs/mixins';
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700');

// Base.  

	@import 'base/page';
	@import 'base/typography';

// Component. 

    @import 'components/button';
    @import 'components/form'; 
    @import 'components/icons';
    @import 'components/images';

// Layout.

    @import 'layouts/footer';
    @import 'layouts/menu';

// All In This File For Now

// Set box model to border-box.
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// Base page margin removed
body {
    margin: 0;
}

// Default link styles
a {
    color: inherit;
    text-decoration: none;
}

// Sets global font
body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

// Removes styling from heading tags
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

// Removes styling from p tags
p {
    margin: 0;
    padding: 0;
}

// Navigation styles
nav {
    background-color: $lightGreen;
    color: $blue;
    padding: 20px;;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
    text-transform: uppercase; 
    font-weight: bold;

    // Left side brand logo 
    .brand {
        margin-right: auto;
        padding: 10px 0;

        &:hover {
            color: $creme;

            .block-brand {
                background-color: $creme;
            }
        }

        // Blocky Lettering
        .block-brand {
            background-color: $blue;
            padding: 10px;
            color: $lightGreen;
        }
    }

    // Menu list
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0px 10px;

            &:hover {
                padding-bottom: 2px;
                border-bottom: 4px solid $creme;
                color: $creme;
            }
        }
    }
}

// Hero styles
#hero-page {
    height: 78vh;
    background-color: $creme;
    color: $blue;
    position: relative;
    display: flex;
    align-items: center;

    .inner-hero {
        margin: 0 auto;
        width: 70%;

        h1 {
            font-size: 72px;
        }
    
        h2 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.25em;

            i {
                color: red;
            }
        }
        
        // Line
        .line-break {
            height: 4px;
            width: 100%;
            background-color: $lightGreen;
            margin: 40px 0;
        }
        
        // Action button
        .hero-button {
            background-color: $lightGreen;
            border-radius: 10px;
            text-transform: uppercase;
            padding: 15px 25px;
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            margin-top: 40px;
    
            &:hover {
                color: $creme;
                background-color: $darkGreen;
            }

            &:nth-of-type(3) {
                margin-left: 15px;
            }
        }
    }
}

#projects {
    display: flex;
    flex-wrap: wrap;

    // Project block
    article {
        padding: 4em 4em 2em 4em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: default;
        height: 50vh;
        width: 40%;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;

        &:nth-child(4n - 1), &:nth-child(4n - 2) {
            width: 60%;
        }

        &:nth-child(6n - 5):before {
            background-color: $overlay1;
        }

        &:nth-child(6n - 4):before {
            background-color: $overlay2;
        }

        &:nth-child(6n - 3):before {
            background-color: $overlay3;
        }

        &:nth-child(6n - 2):before {
            background-color: $overlay4;
        }

        &::before {
            bottom: 0;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.85;
            position: absolute;
            width: 100%;
            z-index: 2;
            transition: opacity 0.5s ease;
        }

        &::after {
            background-color: rgba(36, 41, 67, 0.25);
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }
}

// Bio Styles
#about {
    background-color: $creme;
    color: $blue;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .inner-bio {
        margin: 0 auto;
        width: 70%;
        padding: 130px 0 0;

        h3 {
            padding-bottom: 10px;
            border-bottom: 4px solid $lightGreen;
            font-size: 42px;
            display: inline-block;
            margin-bottom: 30px;
        }

        p {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 32px;
        text-align: center;
        margin: 40px 0;
    }

    .inner-panels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        width: 70%;

        .skill-panel {
            box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
            padding: 25px;
            width: 23%;
            display: flex;
            flex-direction: column;
            background-color: $lightGreen;
            border-radius: 15px;

            i {
                font-size: 42px;
                margin: 10px auto 25px;
            }

            .skill-heading {
                font-size: 22px;
                font-weight: 600;
            }

            .skill-description {
                font-size: 18px;
                margin: 10px 0;
            }
        }
    }

    .double-column {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 70%;
        text-align: start;

        .inner-column {
            h4 {
                text-align: start;
            }

            .tech-skills {
                width: 48%;
            }

            .prof-skills {
                width: 48%;
            }
        }
        .inner-tech-skills {
            width: 48%;
        }

        .inner-prof-skills {
            width: 48%;
        }
    }
}