@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.65;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body a {
  color: inherit;
  text-decoration: none;
}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  margin: 0;
  padding: 0;
}

html body p {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.button {
  background-color: #5CDB95;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  color: #EDF5E1;
  background-color: #379683;
}

.button.hoverAnimation {
  -webkit-animation: pulsate 1s ease-in-out !important;
          animation: pulsate 1s ease-in-out !important;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.navbar {
  background-color: #5CDB95;
  color: #05386B;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

.navbar.small {
  font-size: 18px;
}

.navbar .container {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: navSlideIn 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: navSlideIn 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.navbar .container .navbar-brand {
  margin-right: auto;
}

.navbar .container .navbar-brand:hover {
  color: #EDF5E1;
}

.navbar .container .navbar-brand:hover .inverted {
  background-color: #EDF5E1;
}

.navbar .container .navbar-brand .inverted {
  background-color: #05386B;
  padding: 10px;
  color: #5CDB95;
  margin-right: 10px;
}

.navbar .container .navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .container .navbar-menu .navbar-item {
  display: inline;
  margin: 0px 10px;
}

.navbar .container .navbar-menu .navbar-item:hover {
  padding-bottom: 2px;
  border-bottom: 4px solid #EDF5E1;
  color: #EDF5E1;
}

@-webkit-keyframes navSlideIn {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes navSlideIn {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.hero {
  background-color: #EDF5E1;
  color: #05386B;
}

.hero .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 92vh;
}

.hero .container .hero-body {
  width: 100%;
}

.hero .container .hero-body h1 {
  font-size: 72px;
  -webkit-animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.4s both;
          animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.4s both;
}

.hero .container .hero-body h1 .letter:hover {
  color: #5CDB95;
}

.hero .container .hero-body .line-break {
  height: 4px;
  background-color: #5CDB95;
  margin: 40px auto;
  width: 100%;
  -webkit-animation: lineBreakEntrance 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
          animation: lineBreakEntrance 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.hero .container .hero-body h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25em;
  -webkit-animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.7s both;
          animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.7s both;
}

.hero .container .hero-body h2 i {
  color: red;
}

.hero .container .hero-body h2 i:hover {
  color: #5CDB95;
}

.hero .container .hero-body .action-buttons {
  margin-top: 40px;
}

.hero .container .hero-body .action-buttons .button.entranceAnimation {
  -webkit-animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1.2s both;
          animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1.2s both;
}

.hero .container .hero-body .action-buttons .button:nth-last-of-type(1) {
  margin-left: 15px;
}

.hero .container .hero-body .action-buttons .button.entranceAnimation:nth-last-of-type(1) {
  -webkit-animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
          animation: heroTextEntrance 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
}

@-webkit-keyframes heroTextEntrance {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes heroTextEntrance {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes lineBreakEntrance {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes lineBreakEntrance {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.projects {
  background-color: #EDF5E1;
  color: #05386B;
  position: relative;
  z-index: 0;
}

.projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5CDB95;
  width: 100%;
  height: 42vh;
  z-index: -1;
}

.projects .container {
  margin: 0 auto;
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.projects .container .scroll-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  -webkit-animation: scrollSlideUp 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: scrollSlideUp 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.projects .container .scroll-indicator.hidden {
  visibility: hidden;
}

.projects .container .scroll-indicator span {
  width: 25px;
  height: 35px;
  border: 2px solid #05386B;
  border-radius: 50px;
  position: relative;
}

.projects .container .scroll-indicator span:hover {
  border-color: #EDF5E1;
}

.projects .container .scroll-indicator span:hover::before {
  background-color: #EDF5E1;
}

.projects .container .scroll-indicator span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: '';
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
  background-color: #05386B;
  border-radius: 100%;
  -webkit-animation: scrollDot 3s infinite;
          animation: scrollDot 3s infinite;
}

.projects .container .projects-body .projects-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.projects .container .projects-body .projects-summary h2 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 15px;
}

.projects .container .projects-body .projects-summary h3 {
  font-weight: normal;
  font-size: 20px;
}

.projects .container .projects-body .projects-summary h3 a {
  border-bottom: 2px solid #05386B;
}

.projects .container .projects-body .projects-summary h3 a:hover {
  color: #EDF5E1;
  border-color: #EDF5E1;
}

.projects .container .projects-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .container .projects-grid .project-panel {
  width: 30%;
  padding: 5px;
  position: relative;
}

.projects .container .projects-grid .project-panel::before {
  content: '';
  position: absolute;
  width: 98%;
  height: 95%;
  border-radius: 10px;
  margin: 4px 0px 0px 4px;
  top: 0;
  left: 0;
  background: #05386B;
  z-index: 1;
  opacity: 0.6;
  display: none;
}

.projects .container .projects-grid .project-panel:nth-last-child(-n+3) {
  margin-top: -7px;
}

.projects .container .projects-grid .project-panel .project-image {
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.projects .container .projects-grid .project-panel .project-details {
  display: none;
  position: absolute;
  top: 25px;
  left: 30px;
  color: #5CDB95;
  z-index: 2;
  cursor: pointer;
}

.projects .container .projects-grid .project-panel .project-details h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -5px;
}

.projects .container .projects-grid .project-panel .project-details p {
  font-size: 14px;
  font-weight: bold;
}

.projects .container .projects-grid .project-panel:hover::before {
  display: block;
}

.projects .container .projects-grid .project-panel:hover .project-details {
  display: block;
}

.projects .container .projects-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

@-webkit-keyframes scrollDot {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollDot {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scrollSlideUp {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes scrollSlideUp {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

#about {
  background-color: #EDF5E1;
  color: #05386B;
  position: relative;
  z-index: 0;
  height: 100vh;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5CDB95;
  width: 100%;
  height: 42vh;
  z-index: -1;
}

#about .inner-about {
  margin: 0 auto;
  width: 70%;
}

#about .inner-about .heading {
  padding: 80px 0;
}

#about .inner-about .heading h2 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 25px;
  font-size: 24px;
}

#about .inner-about .heading p {
  font-size: 20px;
}

#about .inner-about .skill-picker {
  padding: 80px 0;
  text-align: center;
}

#about .inner-about .skill-picker h3 {
  font-size: 24px;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 25px;
}

#about .inner-about .skill-picker p {
  font-size: 20px;
  margin-bottom: 25px;
}

#about .inner-about .skill-picker .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px;
}

#about .inner-about .skill-picker .icon-list img {
  width: 100px;
  height: 100%;
}
