@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.65;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body a {
  color: inherit;
  text-decoration: none;
}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  margin: 0;
  padding: 0;
}

html body p {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.button {
  background-color: #5CDB95;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

.button.project-button {
  margin: 0 auto;
  width: 162px;
  display: block;
}

.button:hover {
  color: #EDF5E1;
  background-color: #379683;
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
          animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.navbar {
  background-color: #5CDB95;
  color: #05386B;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
}

.navbar .container {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar-brand {
  margin-right: auto;
}

.navbar .container .navbar-brand:hover {
  color: #EDF5E1;
}

.navbar .container .navbar-brand:hover .inverted {
  background-color: #EDF5E1;
}

.navbar .container .navbar-brand .inverted {
  background-color: #05386B;
  padding: 10px;
  color: #5CDB95;
  margin-right: 10px;
}

.navbar .container .navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .container .navbar-menu .navbar-item {
  display: inline;
  margin: 0px 10px;
}

.navbar .container .navbar-menu .navbar-item:hover {
  padding-bottom: 2px;
  border-bottom: 4px solid #EDF5E1;
  color: #EDF5E1;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero {
  background-color: #EDF5E1;
  color: #05386B;
}

.hero .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 82vh;
}

.hero .container .hero-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}

.hero .container .hero-body h1 {
  font-size: 72px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.hero .container .hero-body h1 .letter:hover {
  color: #5CDB95;
}

.hero .container .hero-body h1 .letter:active {
  color: #379683;
}

.hero .container .hero-body .line-break {
  height: 4px;
  background-color: #5CDB95;
  margin: 40px 0;
}

.hero .container .hero-body h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.hero .container .hero-body h2 i {
  color: red;
}

.hero .container .hero-body .action-buttons {
  margin-top: 40px;
}

.hero .container .hero-body .action-buttons .button:nth-last-of-type(1) {
  margin-left: 15px;
}

#projects {
  background-color: #EDF5E1;
  color: #05386B;
  position: relative;
  z-index: 0;
}

#projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5CDB95;
  width: 100%;
  height: 42vh;
  z-index: -1;
}

#projects .inner-projects {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 43px;
}

#projects .inner-projects .arrow-wrapper {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

#projects .inner-projects .arrow-wrapper .scroll-arrow {
  position: absolute;
  top: 22px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

#projects .inner-projects .arrow-wrapper .scroll-arrow:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#projects .inner-projects .heading {
  text-align: center;
  padding-top: 80px;
}

#projects .inner-projects .heading h2 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 15px;
}

#projects .inner-projects .heading h3 {
  font-weight: normal;
  font-size: 20px;
}

#projects .inner-projects .heading h3 a {
  border-bottom: 2px solid #05386B;
}

#projects .inner-projects .heading h3 a:hover {
  color: #EDF5E1;
  border-color: #EDF5E1;
}

#projects .inner-projects .project-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 35px;
}

#projects .inner-projects .project-grid .project-panel {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 30%;
  padding: 5px;
  position: relative;
}

#projects .inner-projects .project-grid .project-panel::before {
  content: '';
  position: absolute;
  width: 98%;
  height: 95%;
  border-radius: 10px;
  margin: 4px 0px 0px 4px;
  top: 0;
  left: 0;
  background: #05386B;
  z-index: 1;
  opacity: 0.6;
  display: none;
}

#projects .inner-projects .project-grid .project-panel.bottom {
  margin-top: -7px;
}

#projects .inner-projects .project-grid .project-panel img {
  width: 100%;
  border-radius: 10px;
  position: relative;
}

#projects .inner-projects .project-grid .project-panel .project-details {
  display: none;
  position: absolute;
  top: 25px;
  left: 30px;
  color: #5CDB95;
  z-index: 2;
  cursor: pointer;
}

#projects .inner-projects .project-grid .project-panel .project-details h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -5px;
}

#projects .inner-projects .project-grid .project-panel .project-details p {
  font-size: 14px;
  font-weight: bold;
}

#projects .inner-projects .project-grid .project-panel:hover::before {
  display: block;
}

#projects .inner-projects .project-grid .project-panel:hover .project-details {
  display: block;
}

#about {
  background-color: #EDF5E1;
  color: #05386B;
  position: relative;
  z-index: 0;
  height: 100vh;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5CDB95;
  width: 100%;
  height: 42vh;
  z-index: -1;
}

#about .inner-about {
  margin: 0 auto;
  width: 70%;
}

#about .inner-about .heading {
  padding: 80px 0;
}

#about .inner-about .heading h2 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 25px;
  font-size: 24px;
}

#about .inner-about .heading p {
  font-size: 20px;
}

#about .inner-about .skill-picker {
  padding: 80px 0;
  text-align: center;
}

#about .inner-about .skill-picker h3 {
  font-size: 24px;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 25px;
}

#about .inner-about .skill-picker p {
  font-size: 20px;
  margin-bottom: 25px;
}

#about .inner-about .skill-picker .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px;
}

#about .inner-about .skill-picker .icon-list img {
  width: 100px;
  height: 100%;
}
