// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the about section of the site.
// -----------------------------------------------------------------------------------------------

.about {
    background-color: $creme;
    color: $blue;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .container {
        margin: 0 auto;
        padding-top: 50px;

        .about-skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                margin-bottom: 40px;

                .icon-text {
                    transition: color 0.5s;
                    font-weight: bold;

                    &:hover {
                        color: $lightGreen;
                    }
                }
            }

            .skills {
                display: flex;
                align-items: center;
                width: 70%;
                justify-content: center;
                flex-wrap: wrap;

                .skill {
                    justify-content: center;
                    display: flex;
                    padding: 0px 20px 22px;
                    position: relative;

                    i {
                        font-size: 105px;  
                        transition: color 1s;
                    }

                    .skill-name {
                        opacity: 0;
                        position: absolute;
                        bottom: -2px;
                        transition: opacity 0.5s;
                        font-weight: bold;
                        color: $lightGreen;
                    }

                    &:hover {

                        i {
                            color: $lightGreen;
                        }

                        .skill-name {
                            opacity: 1;
                        }
                    }
                }

                &:first-of-type {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

// -- Media Queries -- //

// -- Small Desktop Mode -- //
@media only screen and (max-width: 1260px) {
    .about .container .about-skills .skills .skill i {
        font-size: 86px;
    }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    .about .container {
        width: 80%;

        .about-skills {
            p {
                font-size: 16px;
            }

            .skills {
                width: 95%;

                .skill i {
                    font-size: 70px;
                }
            }
        }
    }
}