// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the about section of the site.
// -----------------------------------------------------------------------------------------------

.about {
    background-color: $creme;
    color: $blue;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .container {
        margin: 0 auto;
        padding-top: 50px;
        
        .about-bio {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin: 30px 0 100px 0;
            position: relative;

            h2 {
                display: inline-block;
                padding-bottom: 2px;
                border-bottom: 4px solid $blue;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                width: 80%;
                
                &:first-of-type {
                    margin-bottom: 10px;
                }
            }
        }

        .about-skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                margin-bottom: 40px;

                .icon-text {
                    transition: color 0.5s;
                    font-weight: bold;

                    &:hover {
                        color: $lightGreen;
                    }
                }
            }

            .skills {
                display: flex;
                align-items: center;
                width: 70%;
                justify-content: space-evenly;

                .skill {
                    justify-content: center;
                    display: flex;

                    i {
                        font-size: 105px;  
                        transition: color 1s;
                    }

                    .skill-name {
                        opacity: 0;
                        position: absolute;
                        bottom: 85px;
                        transition: opacity 0.5s;
                        font-weight: bold;
                        color: $lightGreen;
                    }

                    &:hover {

                        i {
                            color: $lightGreen;
                        }

                        .skill-name {
                            opacity: 1;
                        }
                    }
                }

                &:first-of-type {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

// -- Media Queries -- //

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    .about .container {
        width: 80%;

        .about-bio {
            margin: 30px 0 50px 0;
            
            p {
                font-size: 16px;
            }
        }

        .about-skills {
            p {
                font-size: 16px;
            }

            .skills {
                width: 95%;

                .skill i {
                    font-size: 70px;
                }
            }
        }
    }
}