// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the contact section of the site.
// -----------------------------------------------------------------------------------------------

.contact {
    position: relative;
    background-color: $creme;
    height: 85vh;
    min-height: 850px;
    background-image: url("../../img/contact-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(5,56,107,0.75);
    }

    .contact-container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        color: $blue;

        .contact-panel {
            width: 800px;
            background: $creme;
            border-radius: 10px;
            padding: 40px 110px;
            box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            pointer-events: all;

            iframe {
                body {
                    overflow: hidden;
                }
            }

            h2 {
                display: inline-block;
                padding-bottom: 2px;
                margin-bottom: 15px;
                border-bottom: 4px solid rgb(5, 56, 107);
            }

            p {
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 30px;
                position: relative;

                .fa-exclamation-triangle {
                    position: absolute;
                    top: 17px;
                    left: -35px;
                    color: red;
                    display: none;
                }

                .input {
                    width: 100%;
                    border: 2px solid $blue;
                    border-radius: 5px;
                    background-color: $creme;
                    padding: 10px;
                    font-size: 20px;
                    color: $lightGreen;
                    font-family: 'Source Sans Pro', sans-serif;
                    letter-spacing: 0.025em;
                    line-height: 1.65;
                    font-size: 18px;
                    font-weight: 600;

                    &.input:-webkit-autofill {
                        -webkit-text-fill-color: $lightGreen !important;
                        -webkit-box-shadow: 0 0 0px 1000px $creme inset;
                    }

                    &:focus {
                        outline:none;
                    }

                    &::placeholder {
                        color: $blue;
                    }

                    &.required {
                        border-color: red;
                        
                        &::placeholder {
                            color: red;
                        }
                    }   
                }

                textarea {
                    max-width: 580px !important;
                    min-width: 580px !important;
                    min-height: 150px !important;
                    max-height: 270px !important;
                }

                &.last {
                    margin-bottom: 20px !important;
                }
            }

            .green {
                background-color: $lightGreen;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 20px;
                font-weight: bold;
                display: none;
                padding-left: 20px;
            }

            .contact-button {
                color: $blue;
                border: none;
                margin: 0 auto;
                display: block;
                transition: all 0.1s;
                
                &:hover {
                    color: $creme;
                }

                &:focus {
                    outline:none;
                    color: $creme;
                }
            }
        }
    }
}

// -- Media Queries -- //

// -- Tablet Mode -- //
@media only screen and (max-width: 992px) {
    .contact .contact-container .contact-panel {
        width: 700px;

        .form-group textarea {
            max-width: 480px !important;
            min-width: 480px !important;
        }
    }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    .contact .contact-container .contact-panel {
        width: 80%;
        padding: 40px 30px;

        .form-group textarea {
            max-width: 100% !important;
            min-width: 100% !important;
        }

        .form-group .fa-exclamation-triangle {
            right: 17px;
            left: unset;
        }
    }
}