// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the hero section of the site.
// -----------------------------------------------------------------------------------------------

.hero {
  background-color: $creme;
  color: $blue;
  padding-top: 0px !important;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    min-height: 589px;

    .hero-body {
      width: 100%;

      h1 {
        font-size: 72px;

        .letter {
          transition: color 0.2s;

          &:hover {
            color: $lightGreen;
          }
        }
      }

      .line-break {
        height: 4px;
        background-color: $lightGreen;
        margin: 40px auto;
        width: 100%;
      }

      h2 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.25em;
        margin-bottom: 20px;
      }

      .typed-container {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.25em;

        i {
          color: red;

          &:hover {
            color: $lightGreen;
          }
        }
      }

      .action-buttons {
        margin-top: 40px;

        .button:nth-last-of-type(1) {
          margin-left: 15px;
        }
      }
    }
  }
}

// -- Media Queries -- //

// -- Small Desktop Mode -- //
@media only screen and (max-width: 1260px) {
  .hero .container .hero-body {
    h1 {
      font-size: 56px;
    }

    h2,
    .typed-container,
    .button {
      font-size: 16px;
    }
  }
}

// -- Tablet Mode -- //
@media only screen and (max-width: 992px) {
  .hero .container {
    min-height: 0px;

    .hero-body {
      h1 {
        font-size: 42px;
      }
    }

    h2,
    .typed-container,
    .button {
      font-size: 14px;
    }
  }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
  .hero .container {
    .hero-body {
      margin-top: 45px;
    }
  }

  .letter:nth-last-child(12) {
    display: block;
  }
}

// -- Small Mobile Mode -- //
@media only screen and (max-width: 460px) {
  .hero .container .hero-body {
    h1 {
      font-size: 28px;
    }

    h2,
    .typed-container,
    .button {
      font-size: 10px;
    }

    .line-break {
      margin: 20px auto;
    }

    .action-buttons {
      .button {
        padding: 15px 15px;
      }

      .button:nth-last-of-type(1) {
        margin-left: 15px;
      }
    }
  }
}

@keyframes scrollDot {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
