// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the showcase section of the site.
// -----------------------------------------------------------------------------------------------

.showcase {
    background: $lightGreen;
    background: linear-gradient(180deg, rgba(237,245,225,1) 2%, rgba(92,219,149,1) 60%);
    color: $blue;
    position: relative;
    padding: 50px 0;

    .container {
        margin: 0 auto;
        width: 70%;
        position: relative;
        min-height: 100vh;

        .showcase-body {
            .showcase-summary {
                display: flex;
                align-items: start;
                flex-direction: column;
                margin-bottom: 40px;

                h2 {
                    border-bottom: 2px solid $blue;
                    margin-bottom: 15px;

                    .list-number {
                        color: $lightGreen;
                        font-size: 1rem;
                        margin-right: 4px;
                    }
                }
        
                h3 {
                    font-weight: normal;
                    font-size: 20px;
                }
            }
        }
    }
}


.row {
    max-width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 6rem;
    }

    .project {
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
        opacity: 1;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        visibility: visible;
    }

    .col-1-of-2 {
        float: left;
        width: calc((100% - 6rem)/2);

        &:not(:last-child) {
            margin-right: 6rem;
        }

        .project__item {
            position: relative;

            .project__img {
                width: 100%;
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }
    }
}


// -- Media Queries -- //

// -- Custom container width -- //
@media only screen and (max-width: 1345px) {
    .projects .container {
        width: 1200px;

        .projects-body {
            margin-top: 20px;
        }

        .projects-grid .project-panel{
            &::before {
                height: 94%;
            }
        }
    }
}

// -- Small Desktop Mode -- //
@media only screen and (max-width: 1260px) {
    .projects .container {
        width: 95%;

        .project-image {
            min-height: 257px;
        }

        .projects-grid .project-panel{
            &::before {
                height: 92%;
                width: 97%;
            }

            .project-details h4 {
                width: 195px;
            }

            &:nth-last-child(-n+3) {
                margin-top: 0;
            }
        }
    }
}

// -- Tablet Mode -- //
@media only screen and (max-width: 992px) {
    .projects .container {
        width: 95%;

        .projects-grid .project-panel {
            width: 34%;

            &::before {
                height: 91%;
            }

            .project-details h4 {
                width: 150px;
            }
        }
        
        .projects-button {
            margin-top: 20px;
        }

        .project-image {
            min-height: unset;
            max-height: 178px;
        }
    }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    .projects {
        padding-top: 103 !important; 

        .container {
            width: 85%;

            .project-image {
                min-height: unset;
                max-height: unset;
            }

            .projects-grid .project-panel {
                width: 48%;
                padding-bottom: 10px;
            }

            .project-image {
                min-height: 155px;
                max-height: 175px;
            }

            .projects-body {
                margin-top: 40px;

                .projects-summary {
                    margin-bottom: 25px;
    
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}