// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the showcase section of the site.
// -----------------------------------------------------------------------------------------------

.showcase {
    background: $lightGreen;
    background: linear-gradient(180deg, rgba(237,245,225,1) 0%, rgba(92,219,149,1) 100%);
    color: $blue;
    position: relative;

    .container {
        margin: 0 auto;
        width: 70%;
        position: relative;
        padding: 50px 0;

        .showcase-summary {
            h2 {
                display: inline-block;
                margin-bottom: 15px;
                border-bottom: 2px solid rgb(5, 56, 107);
    
                .list-number {
                    color: $lightGreen;
                    font-size: 1rem;
                    margin-right: 4px;
                }
            }
        }

        .featured-list {
            height: 1000px;
            width: 80%;
            margin: 50px auto 30px;

            .featured-project {
                margin-bottom: 30px;
                height: 360px;

                .left-container {
                    float: left;
                    height: 100%;
                    width: 50%;

                    .left-content {
                        background: url(../../img/first-milk-cover.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: top;
                        height: 100%;
                        width: 100%;
                    }
                }
                  
                .right-container {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 50%;
                    float: left;

                    .right-content {
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}


// -- Media Queries -- //

// -- Custom container width -- //
@media only screen and (max-width: 1345px) {
    .projects .container {
        width: 1200px;

        .projects-body {
            margin-top: 20px;
        }

        .projects-grid .project-panel{
            &::before {
                height: 94%;
            }
        }
    }
}

// -- Small Desktop Mode -- //
@media only screen and (max-width: 1260px) {
    .projects .container {
        width: 95%;

        .project-image {
            min-height: 257px;
        }

        .projects-grid .project-panel{
            &::before {
                height: 92%;
                width: 97%;
            }

            .project-details h4 {
                width: 195px;
            }

            &:nth-last-child(-n+3) {
                margin-top: 0;
            }
        }
    }
}

// -- Tablet Mode -- //
@media only screen and (max-width: 992px) {
    .projects .container {
        width: 95%;

        .projects-grid .project-panel {
            width: 34%;

            &::before {
                height: 91%;
            }

            .project-details h4 {
                width: 150px;
            }
        }
        
        .projects-button {
            margin-top: 20px;
        }

        .project-image {
            min-height: unset;
            max-height: 178px;
        }
    }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    .projects {
        padding-top: 103 !important; 

        .container {
            width: 85%;

            .project-image {
                min-height: unset;
                max-height: unset;
            }

            .projects-grid .project-panel {
                width: 48%;
                padding-bottom: 10px;
            }

            .project-image {
                min-height: 155px;
                max-height: 175px;
            }

            .projects-body {
                margin-top: 40px;

                .projects-summary {
                    margin-bottom: 25px;
    
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}