// main: ../main.scss
// -------------------------------------------------
// Description: This file contains base page styles
// -------------------------------------------------

// Set box model to border-box.
	html {
		box-sizing: border-box;

		// Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

// End of File
