// main: ../main.scss
// -------------------------------------------------
// Description: This file contains all font styles
// -------------------------------------------------

	body, input, select, textarea {
		color: white;
		//font-family: [Family name];
		font-size: 16px;
		font-weight: _font(weight);
		letter-spacing: _font(letter-spacing);
		line-height: _font(line-height);

		@media only screen and (max-width: 1260px) {
			font-size: 16px;
		}

		@media only screen and (max-width: 992px) {
			font-size: 16px;
		}

		@media only screen and (max-width: 768px) {
			font-size: 16px;
		}
	}

	a {
		border-bottom: dotted 1px;
		color: inherit;
		text-decoration: none;

		&:hover {
			border-bottom-color: transparent;
			color: red !important;
		}

		&:active {
			color: red !important;
		}
	}

	strong, b {
		font-weight: _font(weight-bold);
	}

	em, i {
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: _font(weight-bold);
		line-height: _font(line-height);
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

// End of File
