@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.65;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body a {
  color: inherit;
  text-decoration: none;
}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  margin: 0;
  padding: 0;
}

html body p {
  margin: 0;
  padding: 0;
}

html body .fp-tooltip {
  color: #05386B !important;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.slide-in {
  -webkit-animation: slide-in 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1.2s both;
  animation: slide-in 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1.2s both;
}

.slide-in:nth-of-type(2) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.slide-in:nth-of-type(3) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.slide-in:nth-of-type(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.button {
  background-color: #5CDB95;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  color: #EDF5E1;
  background-color: #05386B;
}

.button:focus {
  outline: none;
  color: #EDF5E1;
  background-color: #05386B;
}

.navbar {
  background-color: #5CDB95;
  color: #05386B;
  font-size: 26px;
  font-weight: bold;
  padding: 30px 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.navbar.nav-scroll {
  -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
          box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
  padding: 15px 0;
}

.navbar.nav-up {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.navbar.small {
  font-size: 18px;
}

.navbar.small .navbar-item::after {
  border-width: 2px !important;
}

.navbar .container {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar .container .navbar-brand {
  text-transform: uppercase;
  margin-top: 17px;
}

.navbar .container .navbar-brand:hover .inverted {
  background-color: #EDF5E1;
}

.navbar .container .navbar-brand a:focus {
  outline: none;
}

.navbar .container .navbar-brand a:focus .inverted {
  background-color: #EDF5E1;
}

.navbar .container .navbar-brand .inverted {
  background-color: #05386B;
  padding: 10px;
  color: #5CDB95;
  margin-right: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navbar .container .navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.navbar .container .navbar-menu .navbar-item {
  display: inline-block;
  position: relative;
  margin: 0px 10px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.navbar .container .navbar-menu .navbar-item .list-number {
  color: #EDF5E1;
  font-size: 1rem;
  margin-right: 4px;
}

.navbar .container .navbar-menu .navbar-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar .container .navbar-menu .navbar-item a:focus {
  outline: none;
  color: #EDF5E1;
}

.navbar .container .navbar-menu .navbar-item::after {
  content: '';
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  border-bottom: solid 4px #05386B;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.navbar .container .navbar-menu .navbar-item:hover {
  color: #EDF5E1;
}

.navbar .container .navbar-menu .navbar-item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.navbar .container .navbar-menu .navbar-item.active {
  color: #EDF5E1;
}

.navbar .container .navbar-menu .navbar-item.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 30px 0 18px;
  }
  .navbar.nav-scroll {
    padding: 15px 0 7px;
  }
}

@media only screen and (max-width: 460px) {
  .navbar {
    font-size: 18px;
  }
  .navbar .container .navbar-menu .navbar-item {
    margin: 0px 5px;
  }
  .navbar .container .navbar-menu .navbar-item:after {
    bottom: 11px;
  }
  .navbar .container .navbar-menu .navbar-item .list-number {
    font-size: 18px;
  }
  .navbar.small {
    font-size: 18px;
  }
}

.hero {
  background-color: #EDF5E1;
  color: #05386B;
  padding-top: 0px !important;
}

.hero .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  min-height: 823px;
}

.hero .container .hero-body {
  width: 100%;
}

.hero .container .hero-body h1 {
  font-size: 72px;
}

.hero .container .hero-body h1 .letter {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.hero .container .hero-body h1 .letter:hover {
  color: #5CDB95;
}

.hero .container .hero-body .line-break {
  height: 4px;
  background-color: #5CDB95;
  margin: 40px auto;
  width: 100%;
}

.hero .container .hero-body h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin-bottom: 20px;
}

.hero .container .hero-body .typed-container {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25em;
  white-space: nowrap;
}

.hero .container .hero-body .typed-container i {
  color: red;
}

.hero .container .hero-body .typed-container i:hover {
  color: #5CDB95;
}

.hero .container .hero-body .action-buttons {
  margin-top: 40px;
}

.hero .container .hero-body .action-buttons .button:nth-last-of-type(1) {
  margin-left: 15px;
}

.hero .container .scroll-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 1;
}

.hero .container .scroll-indicator:focus {
  outline: none;
}

.hero .container .scroll-indicator:focus span {
  border-color: #5CDB95;
}

.hero .container .scroll-indicator:focus span::before {
  background-color: #5CDB95;
}

.hero .container .scroll-indicator.hidden {
  visibility: hidden;
}

.hero .container .scroll-indicator span {
  width: 25px;
  height: 35px;
  border: 2px solid #05386B;
  border-radius: 50px;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.hero .container .scroll-indicator span:hover {
  border-color: #5CDB95;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.hero .container .scroll-indicator span:hover::before {
  background-color: #5CDB95;
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
}

.hero .container .scroll-indicator span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: '';
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
  background-color: #05386B;
  border-radius: 100%;
  -webkit-animation: scrollDot 3s infinite;
          animation: scrollDot 3s infinite;
}

@media only screen and (max-width: 1260px) {
  .hero .container .hero-body h1 {
    font-size: 56px;
  }
  .hero .container .hero-body h2, .hero .container .hero-body .typed-container, .hero .container .hero-body .button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .hero .container {
    min-height: 700px;
  }
  .hero .container .hero-body h1 {
    font-size: 42px;
  }
  .hero .container h2, .hero .container .typed-container, .hero .container .button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .hero .container {
    min-height: 760px;
  }
  .hero .container .hero-body {
    margin-top: 45px;
  }
  .letter:nth-last-child(12) {
    display: block;
  }
}

@media only screen and (max-width: 460px) {
  .hero .container .hero-body h1 {
    font-size: 28px;
  }
  .hero .container .hero-body h2, .hero .container .hero-body .typed-container, .hero .container .hero-body .button {
    font-size: 10px;
  }
  .hero .container .hero-body .line-break {
    margin: 20px auto;
  }
  .hero .container .hero-body .action-buttons .button {
    padding: 15px 15px;
  }
  .hero .container .hero-body .action-buttons .button:nth-last-of-type(1) {
    margin-left: 15px;
  }
}

@-webkit-keyframes scrollDot {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollDot {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.showcase {
  background: #5CDB95;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #edf5e1), color-stop(60%, #5cdb95));
  background: linear-gradient(180deg, #edf5e1 2%, #5cdb95 60%);
  color: #05386B;
  position: relative;
  padding: 65px 0;
}

.showcase .container {
  margin: 0 auto;
  width: 1333px;
  position: relative;
}

.showcase .container .showcase-body .showcase-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.showcase .container .showcase-body .showcase-summary h2 {
  border-bottom: 2px solid #05386B;
  margin-bottom: 15px;
}

.showcase .container .showcase-body .showcase-summary h2 .list-number {
  color: #5CDB95;
  font-size: 1rem;
  margin-right: 4px;
}

.showcase .container .showcase-body .showcase-summary h3 {
  font-weight: normal;
  font-size: 20px;
}

@media only screen and (max-width: 1345px) {
  .projects .container {
    width: 1200px;
  }
  .projects .container .projects-body {
    margin-top: 20px;
  }
  .projects .container .projects-grid .project-panel::before {
    height: 94%;
  }
}

@media only screen and (max-width: 1260px) {
  .projects .container {
    width: 95%;
  }
  .projects .container .project-image {
    min-height: 257px;
  }
  .projects .container .projects-grid .project-panel::before {
    height: 92%;
    width: 97%;
  }
  .projects .container .projects-grid .project-panel .project-details h4 {
    width: 195px;
  }
  .projects .container .projects-grid .project-panel:nth-last-child(-n+3) {
    margin-top: 0;
  }
}

@media only screen and (max-width: 992px) {
  .projects .container {
    width: 95%;
  }
  .projects .container .projects-grid .project-panel {
    width: 34%;
  }
  .projects .container .projects-grid .project-panel::before {
    height: 91%;
  }
  .projects .container .projects-grid .project-panel .project-details h4 {
    width: 150px;
  }
  .projects .container .projects-button {
    margin-top: 20px;
  }
  .projects .container .project-image {
    min-height: unset;
    max-height: 178px;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    padding-top: 103 !important;
  }
  .projects .container {
    width: 85%;
  }
  .projects .container .project-image {
    min-height: unset;
    max-height: unset;
  }
  .projects .container .projects-grid .project-panel {
    width: 48%;
    padding-bottom: 10px;
  }
  .projects .container .project-image {
    min-height: 155px;
    max-height: 175px;
  }
  .projects .container .projects-body {
    margin-top: 40px;
  }
  .projects .container .projects-body .projects-summary {
    margin-bottom: 25px;
  }
  .projects .container .projects-body .projects-summary h3 {
    font-size: 18px;
  }
}

.about {
  background-color: #EDF5E1;
  color: #05386B;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.about .background-block {
  background-color: #5CDB95;
  width: 100%;
  height: 32vh;
  z-index: -1;
  position: absolute;
}

.about .container {
  margin: 0 auto;
  width: 1333px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.about .container .about-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 100px 0;
  position: relative;
}

.about .container .about-bio h2 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 4px solid #05386B;
  margin-bottom: 15px;
}

.about .container .about-bio p {
  font-size: 20px;
  width: 80%;
}

.about .container .about-bio p:first-of-type {
  margin-bottom: 10px;
}

.about .container .about-bio .bio-image {
  position: absolute;
  right: 50px;
  bottom: -15px;
  width: 12%;
}

.about .container .about-bio .bio-image.hoverAnimation {
  -webkit-animation: wobble 0.8s both;
          animation: wobble 0.8s both;
}

.about .container .about-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.about .container .about-skills h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.about .container .about-skills p {
  font-size: 20px;
  margin-bottom: 40px;
}

.about .container .about-skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .container .about-skills .skills .skill {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .about-skills .skills .skill i {
  font-size: 105px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.about .container .about-skills .skills .skill .skill-name {
  opacity: 0;
  position: absolute;
  bottom: -30px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-weight: bold;
  color: #5CDB95;
}

.about .container .about-skills .skills .skill:hover i {
  color: #5CDB95;
}

.about .container .about-skills .skills .skill:hover .skill-name {
  opacity: 1;
}

.about .container .about-skills .skills:first-of-type {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1400px) {
  .about .container {
    width: 1200px;
  }
  .about .container .about-bio .bio-image {
    bottom: 5px;
  }
}

@media only screen and (max-width: 1260px) {
  .about .container {
    width: 90%;
  }
  .about .container .about-bio .bio-image {
    display: none;
  }
  .about .container .about-bio p {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .about .background-block {
    height: 36vh;
  }
  .about .container {
    width: 80%;
  }
  .about .container .about-bio {
    margin: 30px 0 50px 0;
  }
  .about .container .about-bio p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .about .container {
    width: 80%;
  }
  .about .container .about-bio {
    margin: 30px 0 50px 0;
  }
  .about .container .about-bio p {
    font-size: 16px;
  }
  .about .container .about-skills p {
    font-size: 16px;
  }
  .about .container .about-skills .skills {
    width: 95%;
  }
  .about .container .about-skills .skills .skill i {
    font-size: 70px;
  }
}

.contact {
  position: relative;
  background-color: #EDF5E1;
  height: 85vh;
  min-height: 850px;
  background-image: url("../../img/contact-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(5, 56, 107, 0.75);
}

.contact .contact-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  color: #05386B;
}

.contact .contact-container .contact-panel {
  width: 800px;
  background: #EDF5E1;
  border-radius: 10px;
  padding: 40px 110px;
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  pointer-events: all;
}

.contact .contact-container .contact-panel iframe body {
  overflow: hidden;
}

.contact .contact-container .contact-panel h2 {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 2px solid #05386b;
}

.contact .contact-container .contact-panel h2 .list-number {
  color: #5CDB95;
  font-size: 1rem;
  margin-right: 4px;
}

.contact .contact-container .contact-panel p {
  margin-bottom: 20px;
}

.contact .contact-container .contact-panel .form-group {
  margin-bottom: 30px;
  position: relative;
}

.contact .contact-container .contact-panel .form-group .fa-exclamation-triangle {
  position: absolute;
  top: 17px;
  left: -35px;
  color: red;
  display: none;
}

.contact .contact-container .contact-panel .form-group .input {
  width: 100%;
  border: 2px solid #05386B;
  border-radius: 5px;
  background-color: #EDF5E1;
  padding: 10px;
  font-size: 20px;
  color: #5CDB95;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.65;
  font-size: 18px;
  font-weight: 600;
}

.contact .contact-container .contact-panel .form-group .input.input:-webkit-autofill {
  -webkit-text-fill-color: #5CDB95 !important;
  -webkit-box-shadow: 0 0 0px 1000px #EDF5E1 inset;
}

.contact .contact-container .contact-panel .form-group .input:focus {
  outline: none;
}

.contact .contact-container .contact-panel .form-group .input::-webkit-input-placeholder {
  color: #05386B;
}

.contact .contact-container .contact-panel .form-group .input:-ms-input-placeholder {
  color: #05386B;
}

.contact .contact-container .contact-panel .form-group .input::-ms-input-placeholder {
  color: #05386B;
}

.contact .contact-container .contact-panel .form-group .input::placeholder {
  color: #05386B;
}

.contact .contact-container .contact-panel .form-group .input.required {
  border-color: red;
}

.contact .contact-container .contact-panel .form-group .input.required::-webkit-input-placeholder {
  color: red;
}

.contact .contact-container .contact-panel .form-group .input.required:-ms-input-placeholder {
  color: red;
}

.contact .contact-container .contact-panel .form-group .input.required::-ms-input-placeholder {
  color: red;
}

.contact .contact-container .contact-panel .form-group .input.required::placeholder {
  color: red;
}

.contact .contact-container .contact-panel .form-group textarea {
  max-width: 580px !important;
  min-width: 580px !important;
  min-height: 150px !important;
  max-height: 270px !important;
}

.contact .contact-container .contact-panel .form-group.last {
  margin-bottom: 20px !important;
}

.contact .contact-container .contact-panel .green {
  background-color: #5CDB95;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  display: none;
  padding-left: 20px;
}

.contact .contact-container .contact-panel .contact-button {
  color: #05386B;
  border: none;
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.contact .contact-container .contact-panel .contact-button:hover {
  color: #EDF5E1;
}

.contact .contact-container .contact-panel .contact-button:focus {
  outline: none;
  color: #EDF5E1;
}

@media only screen and (max-width: 992px) {
  .contact .contact-container .contact-panel {
    width: 700px;
  }
  .contact .contact-container .contact-panel .form-group textarea {
    max-width: 480px !important;
    min-width: 480px !important;
  }
}

@media only screen and (max-width: 768px) {
  .contact .contact-container .contact-panel {
    width: 90%;
    padding: 40px 30px;
  }
  .contact .contact-container .contact-panel .form-group textarea {
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .contact .contact-container .contact-panel .form-group .fa-exclamation-triangle {
    right: 17px;
    left: unset;
  }
}

.footer {
  background-color: #5CDB95;
  color: #05386B;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 99;
  width: 100%;
  padding-top: 0px !important;
  overflow: hidden;
}

.footer .container {
  margin: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer-social {
  margin-bottom: 30px;
}

.footer .container .footer-social .social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer .container .footer-social .social-list .outer-social {
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #05386B;
  padding: 2px 10px;
  font-size: 24px;
  margin: 0 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .container .footer-social .social-list .outer-social a:focus {
  color: #EDF5E1;
  border-color: #EDF5E1;
  outline: none;
}

.footer .container .footer-social .social-list .outer-social:hover {
  color: #EDF5E1;
  border-color: #EDF5E1;
}

.footer .container .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer-text i {
  color: red;
  margin: 0 5px;
}

.footer .container .footer-text i:hover {
  color: #05386B;
}

.footer .container .footer-text .bookmark {
  font-size: 12px;
  margin-top: 10px;
}

.footer .container .footer-text .bookmark a {
  display: inline-block;
  position: relative;
  margin: 0px 10px;
}

.footer .container .footer-text .bookmark a:focus {
  color: #EDF5E1;
  outline: none;
}

.footer .container .footer-text .bookmark a:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.footer .container .footer-text .bookmark a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px #EDF5E1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.footer .container .footer-text .bookmark a:hover {
  color: #EDF5E1;
}

.footer .container .footer-text .bookmark a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.pre-loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 180px;
  background: #5CDB95;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pre-loader .brand {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #05386B;
}

.pre-loader .brand .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader .brand .block .set-width {
  width: 138px;
  margin-right: 10px;
}

.pre-loader .brand .block .inverted {
  background-color: #05386B;
  padding: 10px 0;
  color: #5CDB95;
  display: inline-block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  width: 0px;
  height: 53px;
  -webkit-transform-origin: left;
          transform-origin: left;
  line-height: 33px;
}

.pre-loader .brand .block.loading .inverted {
  width: 138px;
  padding: 10px;
  white-space: nowrap;
}

.pre-loader .pre-loader-percentage {
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: 300;
  color: #05386B;
  margin-bottom: 10px;
}

.social-hud {
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.social-hud.social-scroll .social-list .outer-social {
  padding: 5px 10px;
}

.social-hud.social-scroll .social-list .outer-social .side-text {
  top: 8px;
}

.social-hud.social-scroll .social-list li:last-of-type {
  margin-bottom: 10px;
}

.social-hud.social-scroll .social-list::after {
  height: 40px;
}

.social-hud .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: #05386B;
}

.social-hud .social-list .outer-social {
  padding: 10px;
  position: relative;
  font-size: 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}

.social-hud .social-list .outer-social:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.social-hud .social-list .outer-social:hover .side-text {
  width: 120px;
}

.social-hud .social-list .outer-social .side-text {
  width: 0px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 12px;
  left: 50px;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.social-hud .social-list li:last-of-type {
  margin-bottom: 20px;
}

.social-hud .social-list::after {
  content: '';
  display: block;
  background-color: #05386B;
  width: 2px;
  height: 75px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media only screen and (max-width: 992px) {
  .social-hud {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

body {
  overflow: hidden;
}

body.loaded {
  overflow: initial;
}

body.loaded .pre-loader {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
/*# sourceMappingURL=main.css.map */