// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all button style variation.
// -----------------------------------------------------------------------------------------------

.button {
    background-color: $lightGreen;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        color: $creme;
        background-color: $darkGreen;
    }

    &.hoverAnimation {
        animation: pulsate 1s ease-in-out !important;
    }
}

// -----------------------------------------------------------------------------------------------
// Section: Key Frames
// -----------------------------------------------------------------------------------------------

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}