// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the about section of the site.
// -----------------------------------------------------------------------------------------------

.about {
    background-color: $creme;
    color: $blue;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .background-block {
        background-color: $lightGreen;
        width: 100%;
        height: 32vh;
        z-index: -1;
        position: absolute;
    }

    .container {
        margin: 0 auto;
        width: 70%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        
        .about-bio {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin: 25px 0 115px 0;

            h2 {
                display: inline-block;
                padding-bottom: 2px;
                border-bottom: 4px solid $blue;
                margin-bottom: 15px;

                &.entranceAnimation {
                    animation: blurSlideRight 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
                }
            }

            p {
                font-size: 20px;

                &:first-of-type {
                    margin-bottom: 10px;
                }
            }
        }

        .about-skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;

            .background-block {
                height: 222px;
                top: 630px !important;
                left: -290px;
                width: 150%;
            }

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                margin-bottom: 40px;
            }

            .skill-tabs {
                display: flex;
                align-items: center;
                width: 80%;
                justify-content: space-between;

                div:hover {
                    border-bottom: 4px solid $blue;
                }

                div.active {
                    border-bottom: 4px solid $blue;
                }
            }

            .tab-contents {
                display: none;
                position: relative;
                align-self: flex-start;
                margin: 70px auto 0;
                width: 65%;
                height: 175px;
                margin-bottom: 65px;
            }
        }
    }
}