#about {
    background-color: $creme;
    color: $blue;
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $lightGreen;
        width: 100%;
        height: 42vh;
        z-index: -1;
    }

    .inner-about {
        margin: 0 auto;
        width: 70%;
        padding: 130px 0 0;
    }
}