// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the contact section of the site.
// -----------------------------------------------------------------------------------------------

.contact {
    position: relative;
    overflow: hidden;
    background-color: $creme;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        height: calc(100% - 69px);
        width: 100%;
        top: 69px;
        left: 0;
        background: rgba(5,56,107,0.75);
        pointer-events: none;
    }

    #map {
        height: 100%;
        cursor: pointer !important;

        .gm-style {

            div {
                
            }
        }
    }

    .contact-container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        height: calc(100% - 69px);
        top: 69px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        color: $blue;

        .contact-panel {
            width: 800px;
            background: $creme;
            border-radius: 10px;
            padding: 40px 110px;
            box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            pointer-events: all;

            &.entranceAnimation {
                animation: blurSlideRight 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
            }

            h2 {
                display: inline-block;
                padding-bottom: 2px;
                margin-bottom: 15px;
                border-bottom: 4px solid rgb(5, 56, 107);

                &.entranceAnimation {
                    animation: blurSlideDown 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.9s both;
                }
            }

            p {
                margin-bottom: 20px;

                &.entranceAnimation {
                    animation: blurSlideDown 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
                }
            }

            .form-group {
                margin-bottom: 30px;

                .input {
                    width: 100%;
                    border: 2px solid $blue;
                    border-radius: 5px;
                    background-color: $creme;
                    padding: 10px;
                    font-size: 20px;
                    color: $lightGreen;
                    font-family: 'Source Sans Pro', sans-serif;
                    letter-spacing: 0.025em;
                    line-height: 1.65;
                    font-size: 18px;
                    font-weight: 600;

                    &::placeholder {
                        color: $blue;
                    }
                }

                textarea {
                    max-width: 580px !important;
                    min-width: 580px !important;
                    min-height: 150px !important;
                    max-height: 270px !important;
                }

                &.last {
                    margin-bottom: 20px !important;
                }

                &.entranceAnimation {
                    animation: blurSlideUp 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

                    &:nth-child(1) { 
                        animation-delay: 1.3s;
                    }

                    &:nth-child(2) { 
                        animation-delay: 1.4s;
                    }

                    &:nth-child(3) { 
                        animation-delay: 1.5s;
                    }
                }
            }

            .green {
                background-color: $lightGreen;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 20px;
                font-weight: bold;
                display: none;
            }

            .contact-button {
                color: $blue;
                border: none;
                margin: 0 auto;
                display: block;

                &.entranceAnimation {
                    animation: blurSlideUp 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.6s both;
                }
                
                &:hover {
                    color: $creme;
                }
            }
        }
    }
}