// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the hero section of the site.
// -----------------------------------------------------------------------------------------------

.hero {
    background-color: $creme;
    color: $blue;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 70%;
        height: 82.5vh;

        .hero-body {
            width: 100%;
            overflow: hidden;

            h1 {
                font-size: 72px;

                .letter {
                    &:hover {
                        color: $lightGreen;
                    }
                }
            }

            .line-break {
                height: 4px;
                background-color: $lightGreen;
                margin: 40px auto;
                width: 100%;

                &.animated {
                    animation-name: doubleClick;
                    animation-duration: 2s;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                }
            }
        
            h2 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.25em;
    
                i {
                    color: red;

                    &:hover {
						color: $lightGreen;
                    }
                }
            }

            .action-buttons {
                margin-top: 40px;
        
                .button:nth-last-of-type(1) {
                    margin-left: 15px;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------
// Section: Key Frames
// -----------------------------------------------------------------------------------------------

@keyframes doubleClick {
	0% {
        width: 100%;
	}
	50% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}