// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the project section of the site.
// -----------------------------------------------------------------------------------------------

.projects {
    background-color: $creme;
    color: $blue;
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $lightGreen;
        width: 100%;
        height: 42vh;
        z-index: -1;
    }

    .container {
        margin: 0 auto;
        width: 70%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        .scroll-indicator {
            display: flex;
            justify-content: center;
            margin: 20px 0 8px;

            &.entranceAnimation {
                animation: blurSlideUp 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            }

            &.hidden {
                visibility: hidden;
            }

            span {
                width: 25px;
                height: 35px;
                border: 2px solid $blue;
                border-radius: 50px;
                position: relative;
                transition: transform 1s;

                &:hover {
                    border-color: $creme;
                    transform: scale(0.9);

                    &::before {
                        background-color: $creme;
                        width: 5px;
                        height: 5px;
                        margin-left: -2.5px;
                    }
                }
    
                &::before {
                    position: absolute;
                    top: 5px;
                    left: 50%;
                    content: '';
                    width: 5px;
                    height: 5px;
                    margin-left: -2.5px;
                    background-color: $blue;
                    border-radius: 100%;
                    animation: scrollDot 3s infinite;
                }
            }
        } 

        .projects-body {
            .projects-summary {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 45px;

                h2 {
                    display: inline-block;
                    padding-bottom: 2px;
                    border-bottom: 4px solid $blue;
                    margin-bottom: 15px;

                    &.entranceAnimation {
                        animation: blurSlideRight 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
                    }
                }
        
                h3 {
                    font-weight: normal;
                    font-size: 20px;

                    &.entranceAnimation {
                        animation: blurSlideLeft 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
                    }
        
                    a {
                        border-bottom: 2px solid $blue;
        
                        &:hover {
                            color: $creme;
                            border-color: $creme;
                        }
                    }
                }
            }
        }

        .projects-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style-type: none;

            .project-panel {
                width: 30%;
                padding: 5px;
                position: relative;

                &.entranceAnimation {
                    animation: blurSlideUp 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

                    &:nth-child(1) { 
                        animation-delay: 800ms 
                    }

                    &:nth-child(2) { 
                        animation-delay: 1000ms 
                    }

                    &:nth-child(3) { 
                        animation-delay: 1200ms 
                    }

                    &:nth-child(4) { 
                        animation-delay: 1400ms 
                    }

                    &:nth-child(5) { 
                        animation-delay: 1600ms
                    }

                    &:nth-child(6) { 
                        animation-delay: 1800ms
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 98%;
                    height: 95%;
                    border-radius: 10px;
                    margin: 4px 0px 0px 4px;
                    top: 0;
                    left: 0;
                    background: $blue;
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 0.7s;
                }

                &:nth-last-child(-n+3) {
                    margin-top: -7px;
                }

                .project-image {
                    width: 100%;
                    border-radius: 10px;
                    position: relative;
                }

                .project-details {
                    position: absolute;
                    top: 25px;
                    left: 30px;
                    color: $lightGreen;
                    z-index: 2;
                    opacity: 0;
                    cursor: pointer;
                    transition: opacity 0.7s;

                    h4 {
                        font-size: 30px;
                        font-weight: bold;
                        margin-bottom: -5px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                &:hover {
                    &::before {
                        opacity: 0.6;
                    }

                    .project-details {
                        opacity: 1;
                    }
                }
            }
        }

        .projects-button {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            &.entranceAnimation {
                animation: blurSlideUp 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.8s both;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------
// Section: Key Frames
// -----------------------------------------------------------------------------------------------

@keyframes scrollDot {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 15px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}