// -----------------------------------------------------------------------------------------------
// This file contains:
//                      scss file with all styles connecting to the project section of the site.
// -----------------------------------------------------------------------------------------------

.projects {
    background-color: $creme;
    color: $blue;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $lightGreen;
        width: 100%;
        height: 42vh;
        z-index: -1;
    }

    .container {
        margin: 0 auto;
        width: 1333px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        .projects-body {
            .projects-summary {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 35px;

                h2 {
                    display: inline-block;
                    padding-bottom: 2px;
                    border-bottom: 4px solid $blue;
                    margin-bottom: 15px;

                    &.entranceAnimation {
                        animation: blurSlideRight 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
                    }
                }
        
                h3 {
                    font-weight: normal;
                    font-size: 20px;

                    &.entranceAnimation {
                        animation: blurSlideLeft 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
                    }
        
                    a {
                        border-bottom: 2px solid $blue;
        
                        &:hover {
                            color: $creme;
                            border-color: $creme;
                        }
                    }
                }
            }
        }

        .projects-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style-type: none;

            .project-panel {
                width: 30%;
                padding: 5px;
                position: relative;

                &.entranceAnimation {
                    animation: blurSlideUp 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

                    &:nth-child(1) { 
                        animation-delay: 800ms 
                    }

                    &:nth-child(2) { 
                        animation-delay: 900ms 
                    }

                    &:nth-child(3) { 
                        animation-delay: 1000ms 
                    }

                    &:nth-child(4) { 
                        animation-delay: 1400ms 
                    }

                    &:nth-child(5) { 
                        animation-delay: 1500ms
                    }

                    &:nth-child(6) { 
                        animation-delay: 1600ms
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 98%;
                    height: 95%;
                    border-radius: 10px;
                    margin: 4px 0px 0px 4px;
                    top: 0;
                    left: 0;
                    background: $blue;
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 0.7s;
                }

                &:nth-last-child(-n+3) {
                    margin-top: -7px;
                }

                .project-image {
                    width: 100%;
                    border-radius: 10px;
                    position: relative;
                }

                .project-details {
                    position: absolute;
                    top: 25px;
                    left: 30px;
                    color: $lightGreen;
                    z-index: 2;
                    opacity: 0;
                    cursor: pointer;
                    transition: opacity 0.7s;

                    h4 {
                        font-size: 30px;
                        font-weight: bold;
                        margin-bottom: -5px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                &:hover {
                    &::before {
                        opacity: 0.6;
                    }

                    .project-details {
                        opacity: 1;
                    }
                }
            }
        }

        .projects-button {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            &.entranceAnimation {
                animation: blurSlideUp 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.7s both;
            }
        }
    }
}

// -- Media Queries -- //

// -- Custom container width -- //
@media only screen and (max-width: 1345px) {
    .projects .container {
        width: 1200px;

        .projects-body {
            margin-top: 20px;
        }

        .projects-grid .project-panel{
            &::before {
                height: 94%;
            }
        }
    }
}

// -- Small Desktop Mode -- //
@media only screen and (max-width: 1260px) {
    .projects .container {
        width: 95%;

        .project-image {
            min-height: 257px;
        }

        .projects-grid .project-panel{
            &::before {
                height: 92%;
                width: 97%;
            }

            &:nth-last-child(-n+3) {
                margin-top: 0;
            }
        }
    }
}

// -- Tablet Mode -- //
@media only screen and (max-width: 992px) {
    .projects .container {
        width: 95%;

        .projects-grid .project-panel {
            width: 34%;

            &::before {
                height: 91%;
            }
        }
        
        .projects-button {
            margin-top: 20px;
        }

        .project-image {
            min-height: unset;
            max-height: 178px;
        }
    }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    .projects {
        padding-top: 103 !important; 

        .container {
            width: 85%;

            .project-image {
                min-height: unset;
                max-height: unset;
            }

            .projects-grid .project-panel {
                width: 48%;
                padding-bottom: 10px;
            }

            .project-image {
                min-height: 155px;
                max-height: 175px;
            }

            .projects-body {
                margin-top: 40px;

                .projects-summary {
                    margin-bottom: 25px;
    
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}