// .slide-in {
// 	-webkit-animation: slide-in 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.2s both;
//             animation: slide-in 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.2s both;
            
//             &:nth-of-type(2) {
//                 animation-delay: 1.3s;
//             }

//             &:nth-of-type(3) {
//                 animation-delay: 1.4s;
//             }

//             &:nth-of-type(4) {
//                 animation-delay: 1.5s;
//             }
// }

@keyframes slide-in {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
}