html {
    // Set box model to border-box.
    box-sizing: border-box;
    scroll-behavior: smooth;

    body {
        // Base page margin removed
        margin: 0;

        // Sets global font
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.025em;
        line-height: 1.65;
        font-size: 18px;

        // Removes mouse highlight
        user-select: none;
        
        a {
            // Default link styles
            color: inherit;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            // Removes styling from heading tags
            margin: 0;
            padding: 0;
        }

        p {
            // Removes styling from p tags
            margin: 0;
            padding: 0;
        }

        .fp-tooltip {
            color: $blue !important;
        }
    }
}

*, *:before, *:after {
    // Set box model to border-box.
    box-sizing: inherit;
}